@import url('./styles/_usuario.css');
@import url('./styles/_landingpage.css');
@import url('./styles/_dashborad.css');
@import url('./styles/_utilidades.css');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-primary: #1a4d8c; 
}
body {
  color: #333333;
  background-color: #ebf0f5; 
  margin: 0;
}

a {
    font-weight: 500;
    color: var(--color-primary);
    text-decoration: none;
    transition: color 0.2s;
}

a:hover {
    color: #007bff;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #e0e6e9;
    background-color: #1e1e1e;
  }
  a {
    color: #747bff;
  }
  a:hover {
    color: #9299ff;
  }
}

